@media (min-width: 600px){

  header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  }

  header img {
    margin-top: 1rem;
    width: 4rem;
    height: auto;
   } 

  .navigation ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  .navigation ul li {
    padding: .5rem;
  }

 #home {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto auto;
    max-width: 700px;
    margin: auto;
   }

#nav-bar{
  display: flex;
}

#join {
  display: flex;
  justify-content: center;
}

form {
  justify-content: center;
  margin: auto;
}

.cards {
  max-width: 300px;
  background-color: var(--accent2-color);
  margin: 1rem;
  border-radius: 20px;
}

.hamburger {
      display: none;
    }

 #home div {
   height: 300px;
}

 #events {
   grid-column: 1 /span 2;
   grid-row: 1;
 }

 #currentweather {
   grid-column:2;
   grid-row: 2;
 }

 main h2 {
   margin: 2rem;
   font-size: 2rem;
   font-weight: bolder;
 }

 #home h3{
   margin: 0;
 }

#social img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
 }

 #members div{
    background-color: white;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 2rem;
    border-radius: 20px;
}

#members {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#members div {
  margin: .5rem;
}

.levelcard{
  display: grid; 
}

 footer {
  text-align: center;
 }
 header li a {
    color: var( --primary-color);
    padding: 0;

}

header ul li{
    margin: .5rem;
    font-size: 1rem;
}

#discover {
    max-width: 700px;
    margin: 1rem;
}

.card {
  margin: 1.5rem 0;
  grid-template-areas:
    "name name"
    "image description"
    "image address"
    "button button"
    ;
}

.card h2 {
  display: flex;
  grid-area: name;
    
 }
.card p {
  grid-area: description;
  margin: auto;
}

.card address { 
    grid-area: address;
 }

.card img {     
    grid-area: image;
    width: 300px;
 }
.card button{
  grid-area: button;
}


}
  

 /*--------------- 1000px wider-----------------*/
 
 @media (min-width: 1000px){
  
.hamburger {
    display: none;
}

  #home {
    display: flex;
    max-width: 1200px;
   }

  #home div {
      width: 600px;
   }

  #members {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

#members div {
  margin: .5rem;
}


.cards {
  background-color: white;
  max-width: 200px;
  justify-content: space-around;
}

#discover {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  margin: auto;
}

.card {
  background-color: var(--accent2-color);
  margin: 1rem;
}
 
footer {
text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  place-items: center;
}

}