:root{
    --main-color : #769382;
    --primary-color:#2a2929 ;
    --secondary-color:#769382 ;
    --accent1-color: #C0C3b9 ;
    --accent2-color: #f3efe3;
    --accent3-color: #0d0dc4;
    
    --heading-font: 'roboto';
    --paragraph-font: 'roboto';

}

* {
    font-family: 'roboto';
    color: var(--primary-color);
    text-decoration: none;
}


/*---------------Header---------------*/
header {
    display: flex;
    align-items: center;
    height: 50px;
    padding: .5rem;
    column-gap: 1rem;
}

header img {
    width: 3rem;
}

header span{
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--primary-color);
}


header nav{
    display: none;
}

header nav.show {
  display: flex;
  justify-content: flex-end;
  margin-top: 15rem;
  width: 300px;
  background-color: var(--primary-color);
  color: var(--accent2-color);
  z-index: 100;
  border-radius: 20px;
}

header li a {
    color: var(--accent2-color);
    padding: 1rem;

}

header ul li{
    margin: .5rem;
    font-size: 1.5rem;
}

header li:hover {
    font-weight: bolder;
    transform: scale(1.1);
    transition: .2s; 
}

#ham-btn {
  font-size: 1.5rem;
  background-color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}

#ham-btn :hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}



/*---------------Body---------------*/


#hero {
  position: relative;
  width: 100%;
  height: 300px;      
  overflow: hidden;

  display: flex;            
  justify-content: center;   
  align-items: center;
}

#hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

#cta {
  z-index: 1; 
  background-color: rgba(0,0,0,0.5);
  color: var(--accent2-color);
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  text-align: center;
}


#cta:hover {
     transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

#cta a {
    color: var(--accent2-color);
}

#tickets {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    font-weight: bold;
    position: absolute;
    padding: 1rem;
    border-radius: 10px;
    bottom: 20px;
    right: 20px;
    display: flex;
    z-index: 1;
}
#tickets:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}



main section {
    background-color: var(--accent2-color);
    text-align: center;
    margin: 0.5rem;
}

#home {
    max-width: 450px;
    margin: auto;
    margin-bottom: 3rem;
}

#home div {
    box-shadow: 4px 4px 10px var(--primary-color);

    margin: 1rem;
    height: auto;
    min-height: 15rem;
    border-radius: 20px;
}

#events {
    text-align: center;
}

#currentweather span{
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: bolder;
} 

#weatherforecast p{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}
#weatherforecast span{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: bolder;
} 

#home div img {
    height: 5rem;
    width: auto;
}
div h3{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 0.5rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#businesscards {
    min-height: 500px ;
    overflow: hidden;
    margin: 2rem;
    border-radius: 20px;
}

#businesscards button {
    font-size: 1.5rem;
    padding: .5rem;
    margin: .5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
    transition: .4s ease-in-out;
}


#businesscards button:hover {
    transform: scale(1.1);
    transition: .2s ;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);

}

#members div{
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    padding: 2rem;
    border-radius: 20px;
}
/*---------------body-main-levelcards---------------*/

.levelcard{
    padding: 1rem;
    margin: 1rem;
    max-width: 600px;  
    border-radius: 30px; 
}

#goldCard h3{
 animation: goldneon .9s ease-in-out infinite alternate;
}

#silverCard h3{
 animation: silverneon .9s ease-in-out infinite alternate;
}

#bronzecard h3{
 animation: bronzeneon .9s ease-in-out infinite alternate;
}

.levelcard p{
    padding: 1rem;
}
.levelcard h3{
    padding: 1rem;
}

/*---------------body-main-discover---------------*/

#discover {
    margin: 0;
    padding: 0;
    max-width: 400px;
    margin: auto;
    background-color:white;
}

figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

figure img{
     width: auto;
     max-width: 100%;
     height: auto;

}


#discover button {
    padding: 1rem;
    margin: 3rem;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    border: none;
}

section  {
    background-color: var(--accent2-color);
    border-radius: 20px;
}


.card {
  margin: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "name"
    "image"
    "description"
    "address"
    "button"
    ;
}

.card h2 { 

    grid-area: name;
 }
.card address { 
    grid-area: address;
 }
.card p { 
    margin: 1rem;
    grid-area: description;
 }
.card img {     
    grid-area: image;
    margin-bottom: 1rem;
 }

 .card button{
  grid-area: button;
  
}


/*-------------grid-list----------------*/
#members.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

#members.list {
  display: block;
}
#members.list img {
  display: none;
}


#members.list .company-card {
  display: flex;          
  flex-direction: row;   
  align-items: center;   
  gap: 1rem;
  padding: 1rem;
}


/*---------------Animations---------------*/

@keyframes goldneon {
  from {
    
  }
  to {
    color: gold;
    transform: scale(1.05);
    box-shadow: 0px 0px 80px gold;
  }
}

@keyframes silverneon {
  from {
    
  }
  to {
    color: rgb(175, 175, 175);
    transform: scale(1.05);
    box-shadow: 0px 0px 80px silver;
  }
}

@keyframes bronzeneon {
  from {
    
  }
  to {
    color: orangered;
    transform: scale(1.05);
    box-shadow: 0px 0px 80px rgb(255, 132, 10);
  }
}

@keyframes neontrying {
  from {
    
  }
  to {
    transform: scale(1.05);
  }
}

/*---------------Footer---------------*/

footer {
    padding: 1rem;
    background-color: var(--accent2-color);
}


footer img{
    background-color:var(--accent2-color);
    border-radius: 40px;
    width: 3rem;
    padding: 1rem;
    height: auto;
}

footer img:hover{
    background-color: var(--accent1-color);
    transform: scale(1.2);
    transform: rotate(360deg) translate(0px) scale(1.2);
    transition: 1s;
}

/*---------------Form---------------*/



form {
    background-color: var(--accent2-color);
    margin: auto;
    padding: 1rem;
    border-radius: 20px;
    width: auto;
    max-width: 400px;
}

  
    label {
    display: block;
    font-size: .8rem;
    padding-top: .2rem;
    }
    h3 {
      font-size: 2rem;
      margin: 1.5rem 0 .2rem 0;
      border-bottom: 1px solid #eee;
    }


    input[type=text],
    input[type=tel],
    input[type=date],
    input[type=email],
   
    
    select {
      display: block;
      margin: .1rem 0 1rem 0 ;
      padding: .3rem;
      border-radius: 4px;
      border-left-width: 5px;
      font-size: 1rem;
      width: 250px;
    }
  
    input:required {border-left-color: #f60404;}
    input:required:valid{border-left-color: rgb(0, 243, 0);}

    textarea {
        width: 70%;
        height: 100px;
        border-radius: 4px;
    }
  
    input[type=submit] {
      border: none;
      text-align: center;
      background-color: var(--primary-color);
      color: white;
      border-radius: 1rem;
      padding: .75rem 1.5rem;
      margin: 2rem auto;
      font-size: 1.2rem;
      -webkit-appearance: none;
      appearance: none;
    }

  
  input:-webkit-autofill{
    -webkit-text-fill-color: var(--primary-color);
  }
  
  #results {
    background-color: #F4F1DE;
    padding: .5rem 2rem 1rem;
    border-radius: 6px;
    margin: 1rem;
  }
