@media (min-width: 600px){

  header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  
  }

  header img {
    margin-top: 1rem;
    width: 4rem;
    height: auto;
   } 

  .navigation ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  .navigation ul li a {
    padding: .2rem;
    color: var(--accent1-color);
  }


 #home {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto auto;
    max-width: 700px;
    margin: auto;
   }

#nav-bar{
  display: flex;
}

#join {
  display: flex;
  justify-content: center;
}

form {
  justify-content: center;
  margin: auto;
}

.cards {
  max-width: 300px;
  background-color: var(--accent2-color);
  margin: 1rem;
  border-radius: 20px;
}

.hamburger {
      display: none;
    }

 #home div {
   height: 300px;
}

 main h2 {
   margin: 2rem;
   font-size: 2rem;
   font-weight: bolder;
 }

 #home h3{
   margin: 0;
 }

 footer {
  text-align: center;
 }
 header li a {
    color: var( --primary-color);
    padding: 0;

}

header ul li{
    margin: .5rem;
    font-size: 1rem;
}



.card {
  margin: 1.5rem 0;
  grid-template-areas:
    "name name"
    "image description"
    "image address"
    "button button"
    ;
}

.card h2 {
  display: flex;
  grid-area: name;
    
 }
.card p {
  grid-area: description;
  margin: auto;
}

.card address { 
    grid-area: address;
 }

.card img {     
    grid-area: image;
    width: 300px;
 }
.card button{
  grid-area: button;
}


.constructor-card {
    max-width: 700px;
    grid-template-areas:
    "image name"
    "image description"
    "image description"
    "image address"
    ;
  
}



#workshopscard {
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.workshops {
  width: 100%;
}

.workshop-card {
  margin: 1rem;
}





}
  

 /*--------------- 1000px wider-----------------*/
 
 @media (min-width: 1000px){
  
.hamburger {
    display: none;
}

.constructor-card {
  display: grid;
  grid-template-columns: 1fr 1fr;  
}

.constructor-card img {
  max-width: 400px;
}

#constructors {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#workshopscard {
  display: grid;
  max-width: 1000px;
  grid-template-columns: 1fr 1fr 1fr; 
}

#modalGallery {
  max-width: 800px;
  margin: auto;
}

#modalGallery img {
  border-radius: 20px;
  
}
footer {
text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  place-items: center;
}

}