@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap");

:root{
    --main-color : #121312;
    --primary-color:#ad0013 ;
    --secondary-color:#e8b367 ;
    --accent1-color: #f5f5f5 ;
    --accent2-color: #f3efe3;
    
    --heading-font: 'macondo';
    --paragraph-font: 'macondo';

}

* {
    font-family: 'macondo';
    color: var(--primary-color);
    text-decoration: none;
}

body {
    background-color: var(--main-color);
}


/*---------------Header---------------*/
header {
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    height: 50px;
    padding: .5rem;
    column-gap: 1rem;
}

header img {
    width: 5rem;
}

header span{
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--secondary-color);
}


header nav{
    display: none;
}

header nav.show {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  margin-top:16rem;
  margin-left: 10rem;
  width: 300px;
  background-color: var(--primary-color);
  color: var(--accent2-color);
  z-index: 100;
  border-radius: 20px;
}

header li a {
    color: var(--accent2-color);
    padding: 1rem;

}

header ul li{
    margin: .5rem;
    font-size: 1.5rem;
}

header li:hover {
    font-weight: bolder;
    transform: scale(1.1);
    transition: .2s; 
}

#ham-btn {
  font-size: 1.5rem;
  background-color: var(--main-color);
  color: var(--secondary-color);
  border: none;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}

#ham-btn :hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}



/*. . . . . Body. . . . . . */
#hero {
    position: relative;
    background-color: var(--main-color);
    margin-bottom: 1rem;
    max-height: 300px;
    width: 100%;
    overflow: hidden;
}

#hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#tickets {
    position: absolute;
    color: var(--main-color);
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 10px;
    bottom: 20px;
    right: 20px;
    display: flex;
    z-index: 1;
}
#tickets:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/*. . . . . Body - main. . . . . . */


main h1 {
    margin: 1rem;
    color: var(--secondary-color);
}
main section {
    text-align: center;
    margin: 0.5rem;
}

main h2 {
    color: var(--secondary-color);
}

#home {
    max-width: 450px;
    margin: auto;
    margin-bottom: 3rem;
}

#home div {
    background-color: var(--accent1-color);
    margin: 1rem;
    height: auto;
    min-height: 15rem;
}


/* . . . GALERIA DE IMAGENS. . . */

.slide img {
  height: 100%;
  width: auto;
  transition: transform 0.3s ease;
}


.slide {
    display: flex;
    justify-self: center;
    height:300px;
    width: auto;
    overflow-x: auto;
    max-width: 100%;
}

#moto-card ::-webkit-scrollbar {
    height: 10px;
}

#moto-card ::-webkit-scrollbar-track {
    background-color:var(--color-accent2);
}

#motocard ::-webkit-scrollbar-thumb{
    background-color: var(--color-accent1);
}



.workshops img {
  height: 200px;
  width: 200px;
  margin: 1rem;
  border-radius: 100px;
  width: auto;
  transition: transform 0.3s ease;
  background-color: var(--accent2-color);
}
/* . . . workshops styles. . . . */
/* . . . GALERIA DE TALLERES. . . */
.workshops {
    display: flex;
    justify-self: center;
    height:300px;
    width: auto;
    overflow-x: auto;
    max-width: 100%;
}


#talleres ::-webkit-scrollbar {
   display: none;
}

/* - - - -  workshops.html - - - - - */

#workshopscard {
  overflow: hidden;
  margin: auto;
  max-width: 400px; 
  cursor: pointer; 
}

.workshop-card:hover{
  transform: scale(1.1);
  transition: .5s;
}

.workshop-card {
  overflow: hidden;
  border-radius: 30px;
  margin: 2rem;
  background-color: var(--secondary-color);
   transition: .5s;
}

#workshopscard p,
#workshopscard h3{
  color: var(--primary-color);
}

#workshopscard img {
  background-color: var(--accent1-color);
  width: 100%;
}

/*. . modal . . */

dialog {
  width: 80%;
  height: 80%;
  border: none;
  border-radius: 30px;
  transition: .5s;
}

#modalGallery img{
  width:80%;

}

#modalDetails img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
}

dialog button {
  font-size: 2rem;
  display: flex;
  background-color: transparent;
  border: none;
}

dialog::-webkit-scrollbar {
  background-color: #121312;
  
}

dialog::-webkit-scrollbar-track {
  background: var(--main-color); 
}

/* La barra en sí (thumb) */
dialog::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}



/*. . . . .body constructores . . . .*/


.constructor-card {
  background-color: var(--accent1-color);
  margin: 1rem;
  padding: 1rem;
  border-radius: 29px;
  margin: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "image"
    "name"
    "contact"
    "workshop"
    "description";
}

.constructor-card img { grid-area: image; }
.constructor-card h3 { grid-area: name; }
.constructor-card .contact { grid-area: contact; }
.constructor-card .workshop { grid-area: workshop; }
.constructor-card .description { grid-area: description; }

.constructor-card img {
  max-width: 350px;
  border-radius: 50px;
  margin: auto;
}


/*---------------Animations---------------*/

@keyframes goldneon {
  from {
    
  }
  to {
    color: gold;
    transform: scale(1.05);
    box-shadow: 0px 0px 80px gold;
  }
}

@keyframes silverneon {
  from {
    
  }
  to {
    color: rgb(175, 175, 175);
    transform: scale(1.05);
    box-shadow: 0px 0px 80px silver;
  }
}

@keyframes bronzeneon {
  from {
    
  }
  to {
    color: orangered;
    transform: scale(1.05);
    box-shadow: 0px 0px 80px rgb(255, 132, 10);
  }
}

@keyframes neontrying {
  from {
    
  }
  to {
    transform: scale(1.05);
  }
}

/*---------------Footer---------------*/

footer {
    padding: 1rem;
    background-color: var(--accent2-color);
}


footer img{
    background-color:var(--accent2-color);
    border-radius: 40px;
    width: 3rem;
    padding: 1rem;
    height: auto;
}

footer img:hover{
    background-color: var(--accent1-color);
    transform: scale(1.2);
    transform: rotate(360deg) translate(0px) scale(1.2);
    transition: 1s;
}

/*---------------Form---------------*/
 #join{
  margin: 2rem;
 }

form {
    background-color: var(--accent2-color);
    margin: auto;
    padding: 1rem;
    border-radius: 20px;
    width: auto;
    max-width: 400px;

    label {
    display: block;
    font-size: .8rem;
    padding-top: .2rem;
    }
    h3 {
      font-size: 2rem;
      margin: 1.5rem 0 .2rem 0;
    }

    input[type=text],
    input[type=tel],
    input[type=date],
    input[type=email],
   
    
    select {
      display: block;
      margin: .1rem 0 1rem 0 ;
      padding: .3rem;
      border-radius: 4px;
      border-left-width: 5px;
      font-size: 1rem;
      width: 250px;
    }
  
    input:required {border-left-color: #f60404;}
    input:required:valid{border-left-color: rgb(0, 243, 0);}

    textarea {
        height: 100px;
        border-radius: 4px;
    }
  
    input[type=submit] {
      border: none;
      text-align: center;
      background-color: var(--primary-color);
      color: white;
      border-radius: 1rem;
      padding: .75rem 1.5rem;
      margin: 2rem auto;
      font-size: 1.2rem;
      -webkit-appearance: none;
      appearance: none;
    }

  }
  input:-webkit-autofill{
    -webkit-text-fill-color: var(--primary-color);
  }
  
  #results {
    background-color: #F4F1DE;
    padding: .5rem 2rem 1rem;
    border-radius: 6px;
    margin: 1rem;
  }
