@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap");


:root {
    --color-main: #121312; 
    --color-secondary: #f5f5f5; 
    --color-accent1: #ad0013; 
    --color-accent2: #e8b367; 
    --font-primary: 'Macondo';
    --font-secondary: 'Macondo'; 
    --paragraph-font: 'Macondo'

  }

body {
    font-family: var(--color-accent2);
    background-color: var(--primary-color);
    color: var(--main-color);
    margin: 0;
    padding: 2rem;
}

*{
    font-family: var(--font-primary);
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-family: var(--font-primary);
    color: var(--main-color);
}

p {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--accent1-color);
    border-radius: 20px;
    padding: 1rem;
}

main {
    text-align: center;
}

#sitename {
    padding: 2rem;
    background-color: var(--color-main);
    border-radius: 30px;
    color: var(--color-accent1);
    margin: 1rem auto;
    max-width: 500px;

}

#sitename p {
    font-size: 1.5rem;
}

#sitepurpose {
    text-align: center;
    padding: 2rem;
    background-color: var(--color-accent2);
    color: var(--primary-color);
    border-radius: 30px;
    margin: 1rem auto;
    max-width: 500px;
}

#sitepurpose p {
    font-size: 1.5rem;
}

#color {
    background-color: var(--color-secondary);
    border-radius: 30px;
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
    margin: 1rem auto;
    max-width: 500px;
}

#color h2 {
    color: var(--main-color);
    
}

#color h3 {
    color: var(--color-secondary);
    background-color: #ad0013;
    padding: 1rem;
    border-radius: 20px;
}

#color h4 {
    background-color: var(--color-accent2);
    color: var(--color-accent1);
    padding: 1rem;
    border-radius: 20px;
    
}

#color h5 {
    background-color: var(--color-main);
    border-radius: 10px;
    color: var(--color-accent2);
    padding: 1rem;
    border-radius: 20px;

}



#typography {
    text-align: center;
    padding: 2rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;
    margin: 1rem auto;
    max-width: 500px;
    box-shadow: -.5px .5px 15px var(--color-main);
}

#typography h3,#typography h4 {
    background-color: var(--primary-color);
    border-radius: 30px;
}

#wireframe {
    text-align: center;
    padding: 2rem;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin: 1rem auto;
    max-width: 800px;
}

#wireframe img {
    max-width: 100%;
    height: auto;
    margin: 1rem;
}

footer {
    font-size: 1.5rem;
    height: 5rem;
    text-align: center;
    background-color: var(--color-accent1);
    color: var(--color-secondary);
    padding: 1rem;
    margin-top: 2rem;
}
