@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap");


:root {
    --color-main: #121312; 
    --color-secondary: #f5f5f5; 
    --color-accent1: #ad0013; 
    --color-accent2: #e8b367; 
    --font-primary: 'Macondo';
    --font-secondary: 'Macondo'; 
    --paragraph-font: 'Macondo'

  }

body {
    font-family: var(--color-accent2);
    background-color: var(--primary-color);
    color: var(--main-color);
    margin: 0;
}

*{
    font-family: var(--font-primary);
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-family: var(--font-primary);
    color: var(--main-color);
}

p {
    font-size: 1.5rem;
}


header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-accent1);
    padding: 1rem;
}

.hamburger {
    font-size: 2rem;
    color: var(--color-secondary);
    background-color: #ad0013;
    border: none;
}

.hamburger:hover {
    cursor: pointer;
}

header ul a {
    text-decoration: none;
    color: var(--color-secondary);
}

.navigation {
  display: none;
  top: 1rem;
}

.navigation.active {
  display: block;
}
main {
    text-align: center;
}

/* . . . GALERIA DE IMAGENS. . . */

.slide img {
  height: 100%;
  width: auto;
  transition: transform 0.3s ease;
}


.slide {
    display: flex;
    justify-self: center;
    height:300px;
    width: auto;
    overflow-x: auto;
    max-width: 100%;
}

#galery ::-webkit-scrollbar {
    height: 10px;
}

#galery ::-webkit-scrollbar-track {
    background-color:var(--color-accent2);
}

#galery ::-webkit-scrollbar-thumb{
    background-color: var(--color-accent1);
}



.workshops img {
  height: 200px;
  width: 200px;
  margin: 1rem;
  border-radius: 100px;
  width: auto;
  transition: transform 0.3s ease;
  background-color: var(--color-secondary);
}


.workshops {
    display: flex;
    justify-self: center;
    height:300px;
    width: auto;
    overflow-x: auto;
    max-width: 100%;
}


#talleres ::-webkit-scrollbar {
   display: none;
}







footer {
    font-size: 1.5rem;
    height: 5rem;
    text-align: center;
    background-color: var(--color-accent1);
    color: var(--color-secondary);
    padding: 1rem;
    margin-top: 2rem;
}
