*{box-sizing: border-box;}

#openButton{
    background-color: red;
}

#dialogBox{
    background-color: red;
}

#closeButton {
    background-color: green;
}

::backdrop {
    background-color: blue;
}